CORS_ALLOWED_ORIGIN=http://localhost:5173
RATE_LIMIT_REQUESTS_PER_MINUTE=30

X_API_KEY=...

# config for Azure LLM
AZURE_LLM_API_KEY=...
AZURE_LLM_ENDPOINT_GPT_35_TURBO=...
AZURE_LLM_ENDPOINT_GPT_4O_MINI=...

# config for OpenAI LLM
OPENAI_ENDPOINT="https://api.openai.com/v1"
OPENAI_API_KEY=sk-proj-...

# config for ollama
OLLAMA_API_ENDPOINT="https://ollama.citylab.berlin/ollama/chat"
OLLAMA_API_KEY=...

# limit file size for document upload to 8MB
UPLOAD_FILE_SIZE_LIMIT_MB=8